<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinko</title>
  <link rel="stylesheet" type="text/css" href="/jass.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
 
</head>

<body>
  
  <header class="homepage">
    <a href='/'>
    <h1>
      <img src="/Assets/logo.png" alt="Logo" style="width: 80px;" /> Pinko
    </h1>
    </a>
  </header>
    <nav>
    <a href="/about">About</a>
    <a href="/api/products">Products</a>
    <a href="/blog">Blog</a>
    <a href="/login">Login</a>
  </nav>
  <main class="main">
   
    {{{body}}}
  </main>
  <footer>
      
  </footer>

</body>

</html>





