      <div style="background-image: url('/Modals/abt2.jpeg');" "width: 200px;" >

          <h3>Welcome to the world of realization</h3>
          <h1>When it comes to getting the right outfit for your events and workdays, Pinko got your back.</h1>

      </div>

      