       <div class="row mx-auto" id="footer">
            <div class="accordion w-100" id="accordionExample">
                <div class="card w-100">
                    <div class="card-header w-100" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                About us
                            </button>
                        </h5>
                       <h6>PINKO is an inspirational  app nnnnn mmmmm jjj kkk uuuu iii </h6>
                       <p>  -Honorine
                            <br>
                            -Charles
                            <br>
                       </p>
                    </div>
                    
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Our Project
                            </button>
                        </h5>
                        <p> 
                            Pin KO App  
                         </p>
                    </div>
                      
    
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Contacts us
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            -mnjinnova<br>
                            -pinko<br>
                            -pinko
                        </div>
                    </div>
                </div>
            </div>
        </div>