{{#each dbProductData as |product| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{product.product_name}}</h2>
  </div>
  <div class="col-md-6">
    <h2{{product.price}}</h2>
  </div>

</div>
{{/each}}

{{!-- {{#each products as |product|}}
{{> product-details}}
{{/each}} --}}

<h2>Clothes</h2>    