<div class="container-fluid p-0">
            <a class="navbar-brand" href="./HomePage" id="brand">
                <img src="/Assets/ward.jpeg" alt="ward" style="width: 800px;" />
            </a>
<div>            
           